# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/

# Frontend
frontend/.env.local
frontend/.env

# Backend
backend/.env
backend/test.db